
#EJERCICIO 1:

1)  generar un df que contenga los siguientes datos y llamarlo df_stock:

'ID producto'=123 ,'cantidad'=6, 'descripcion'='cuaderno'}

'ID producto'=234 ,'cantidad'=2, 'descripcion'='lapicera'

'ID producto'=345 ,'cantidad'=1, 'descripcion'='cartuchera'

2) generar un df que contenga los siguientes datos y llamarlo df_precios:

'ID producto'=234 ,'precio'=5

'ID producto'=456 ,'precio'=30


3) generar un df que tenga todos los productos  con la cantidad y el precio correspondiente.

4) generar un df que tenga solo aquellos productos de los cuales tenemos informacion acerca del precio y el stock.

5) generar un df  en el que figure la informacion de los producos que se encuentran en df_precio e incluir en el mismo la cantidad de productos que hay en stock.

In [60]:
import pandas as pd
import numpy as np

df_stock=pd.DataFrame()
df_stock['ID producto']=[123,234,345]
df_stock['cantidad']=[6,2,1]
df_stock['descripcion']=['cuaderno','lapicera','cartuchera']
df_stock

   ID producto  cantidad descripcion
0          123         6    cuaderno
1          234         2    lapicera
2          345         1  cartuchera

In [61]:
df_precios=pd.DataFrame()
df_precios['ID producto']=[234,456]
df_precios['precio']=[5,30]
df_precios

   ID producto  precio
0          234       5
1          456      30

In [62]:
df_completo=pd.merge(df_stock,df_precios,how='outer',right_on='ID producto',left_on='ID producto')
df_completo

   ID producto  cantidad descripcion  precio
0          123       6.0    cuaderno     NaN
1          234       2.0    lapicera     5.0
2          345       1.0  cartuchera     NaN
3          456       NaN         NaN    30.0

In [63]:
#df_solo_articulos_con_precio= pd.DataFrame(df_completo[df_completo['precio']!= np.NAN ])
#df_solo_articulos_con_precio=pd.merge(df_stock,df_precios,how='inner')
df_sin_nan= pd.DataFrame(df_completo[np.isnan(df_completo['precio'])==False])
df_sin_nan =df_sin_nan[np.isnan(df_sin_nan['cantidad'])==False]
df_sin_nan

   ID producto  cantidad descripcion  precio
1          234       2.0    lapicera     5.0

In [23]:
type(np.nan)

float

In [69]:
df_precios_2=pd.merge(df_precios,df_completo,how='rigth')
df_precios_2

KeyError: 'rigth'

   ID producto  precio_x descripcion  precio_y
0          234         5    lapicera       5.0
1          456        30         NaN      30.0

 
 
 1) Cargar el df FAO.csv
    
 2) Armar un df que solo contenga las columnas 'Area','Item','Element','Y2015','Y2016', llamarlo df.
    
 3) Obtener la cantidad media items por cada pais en cada año.
    

 4) Obtener la cantidad media de Items producidos, plantados y yield por cada pais en cada año.
    
 5) Obtener la cantidad media de items producidos por país.

In [70]:
df_FAO = pd.read_csv("FAO.csv",  encoding = "ISO-8859-1")
df_FAO

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2012,Y2012F,Y2013,Y2013F,Y2014,Y2014F,Y2015,Y2015F,Y2016,Y2016F
0,2,Afghanistan,221,"Almonds, with shell",5312,Area harvested,ha,NaN,NaN,NaN,...,13490.0,NaN,14114.0,NaN,13703.0,NaN,14676.0,NaN,19481.0,NaN
1,2,Afghanistan,221,"Almonds, with shell",5419,Yield,hg/ha,NaN,NaN,NaN,...,45960.0,Fc,29910.0,Fc,19996.0,Fc,16521.0,Fc,16859.0,Fc
2,2,Afghanistan,221,"Almonds, with shell",5510,Production,tonnes,NaN,NaN,NaN,...,62000.0,NaN,42215.0,NaN,27400.0,NaN,24246.0,NaN,32843.0,NaN
3,2,Afghanistan,711,"Anise, badian, fennel, coriander",5312,Area harvested,ha,NaN,M,NaN,...,18500.0,F,18500.0,F,20497.0,Im,22624.0,Im,21786.0,Im
4,2,Afghanistan,711,"Anise, badian, fennel, coriander",5419,Yield,hg/ha,NaN,NaN,NaN,...,6757.0,Fc,6757.0,Fc,6454.0,Fc,6354.0,Fc,6434.0,Fc
5,2,Afghanistan,711,"Anise, badian, fennel, coriander",5510,Production,tonnes,NaN,M,NaN,...,12500.0,F,12500.0,F,13228.0,Im,14376.0,Im,14018.0,Im
6,2,Afghanistan,515,Apples,5312,Area harvested,ha,2220.0,F,2220.0,...,9148.0,NaN,10341.0,NaN,12247.0,NaN,13038.0,NaN,19365.0,NaN
7,2,Afghanistan,515,Apples,5419,Yield,hg/ha,68018.0,Fc,68018.0,...,76519.0,Fc,76005.0,Fc,73000.0,Fc,68824.0,Fc,72762.0,Fc
8,2,Afghanistan,515,Apples,5510,Production,tonnes,15100.0,*,15100.0,...,70000.0,NaN,78597.0,NaN,89403.0,NaN,89733.0,NaN,140903.0,NaN
9,2,Afghanistan,526,Apricots,5312,Area harvested,ha,4820.0,F,4820.0,...,8350.0,NaN,9005.0,NaN,9005.0,NaN,9116.0,NaN,8595.0,NaN
10,2,Afghanistan,526,Apricots,5419,Yield,hg/ha,66390.0,Fc,66390.0,...,100000.0,Fc,99944.0,Fc,99944.0,Fc,96189.0,Fc,20819.0,Fc
11,2,Afghanistan,526,Apricots,5510,Production,tonnes,32000.0,*,32000.0,...,83500.0,NaN,90000.0,NaN,90000.0,F,87686.0,NaN,17894.0,NaN
12,2,Afghanistan,44,Barley,5312,Area harvested,ha,350000.0,NaN,350000.0,...,280000.0,NaN,278000.0,NaN,342472.0,NaN,282000.0,NaN,219208.0,NaN
13,2,Afghanistan,44,Barley,5419,Yield,hg/ha,10800.0,Fc,10800.0,...,18000.0,Fc,18489.0,Fc,15213.0,Fc,14291.0,Fc,13770.0,Fc
14,2,Afghanistan,44,Barley,5510,Production,tonnes,378000.0,NaN,378000.0,...,504000.0,NaN,514000.0,NaN,521000.0,NaN,403000.0,NaN,301856.0,NaN
15,2,Afghanistan,558,Berries nes,5312,Area harvested,ha,6800.0,F,6800.0,...,3800.0,NaN,3800.0,NaN,3800.0,NaN,3800.0,NaN,3800.0,NaN
16,2,Afghanistan,558,Berries nes,5419,Yield,hg/ha,88235.0,Fc,88235.0,...,65789.0,Fc,65789.0,Fc,62004.0,Fc,64099.0,Fc,63103.0,Fc
17,2,Afghanistan,558,Berries nes,5510,Production,tonnes,60000.0,*,60000.0,...,25000.0,F,25000.0,F,23561.0,Im,24357.0,Im,23979.0,Im
18,2,Afghanistan,767,Cotton lint,5510,Production,tonnes,17000.0,*,26000.0,...,11979.0,Im,13917.0,Im,14000.0,F,NaN,NaN,NaN,NaN
19,2,Afghanistan,329,Cottonseed,5510,Production,tonnes,34000.0,*,52000.0,...,23595.0,Im,42173.0,NaN,42829.0,NaN,NaN,NaN,NaN,NaN
20,2,Afghanistan,569,Figs,5312,Area harvested,ha,3200.0,F,3200.0,...,2056.0,NaN,2056.0,NaN,1525.0,NaN,1525.0,NaN,811.0,NaN
21,2,Afghanistan,569,Figs,5419,Yield,hg/ha,25000.0,Fc,25000.0,...,40126.0,Fc,40370.0,Fc,40000.0,Fc,32761.0,Fc,38755.0,Fc
22,2,Afghanistan,569,Figs,5510,Production,tonnes,8000.0,*,8000.0,...,8250.0,F,8300.0,F,6100.0,NaN,4996.0,NaN,3143.0,NaN
23,2,Afghanistan,512,"Fruit, citrus nes",5312,Area harvested,ha,730.0,F,730.0,...,200.0,NaN,300.0,NaN,300.0,NaN,300.0,NaN,1662.0,NaN
24,2,Afghanistan,512,"Fruit, citrus nes",5419,Yield,hg/ha,67123.0,Fc,67123.0,...,100000.0,Fc,100000.0,Fc,100000.0,Fc,101418.0,Fc,105125.0,Fc
25,2,Afghanistan,512,"Fruit, citrus nes",5510,Production,tonnes,4900.0,*,4900.0,...,2000.0,F,3000.0,F,3000.0,F,3043.0,Im,17472.0,Im
26,2,Afghanistan,619,"Fruit, fresh nes",5312,Area harvested,ha,13919.0,F,13770.0,...,8413.0,NaN,8450.0,NaN,8450.0,NaN,7785.0,Im,7262.0,Im
27,2,Afghanistan,619,"Fruit, fresh nes",5419,Yield,hg/ha,51153.0,Fc,50109.0,...,73690.0,Fc,74902.0,Fc,75000.0,Fc,82025.0,Fc,78961.0,Fc
28,2,Afghanistan,619,"Fruit, fresh nes",5510,Production,tonnes,71200.0,F,69000.0,...,61995.0,NaN,63292.0,NaN,63375.0,NaN,63852.0,Im,57344.0,Im
29,2,Afghanistan,541,"Fruit, stone nes",5312,Area harvested,ha,2850.0,F,2850.0,...,6500.0,F,6550.0,F,8042.0,Im,7235.0,Im,7319.0,Im
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47796,5817,Net Food Importing Developing Countries,137,Yams,5419,Yield,hg/ha,66986.0,Fc,66505.0,...,82246.0,Fc,82418.0,Fc,83189.0,Fc,79413.0,Fc,74220.0,Fc
47797,5817,Net Food Importing Developing Countries,137,Yams,5510,Production,tonnes,3030176.0,A,3002485.0,...,13224159.0,A,13482448.0,A,13935084.0,A,13618441.0,A,12505653.0,A
47798,5817,Net Food Importing Developing Countries,135,Yautia (cocoyam),5312,Area harvested,ha,22311.0,A,23071.0,...,35632.0,A,35774.0,A,36163.0,A,36498.0,A,34124.0,A
47799,5817,Net Food Importing Developing Countries,135,Yautia (cocoyam),5419,Yield,hg/ha,50596.0,Fc,51727.0,...,92373.0,Fc,100598.0,Fc,122516.0,Fc,114755.0,Fc,115232.0,Fc
47800,5817,Net Food Importing Developing Countries,135,Yautia (cocoyam),5510,Production,tonnes,112884.0,A,119340.0,...,329140.0,A,359879.0,A,443053.0,A,418830.0,A,393213.0,A
47801,5817,Net Food Importing Developing Countries,1817,Cereals (Rice Milled Eqv),5312,Area harvested,ha,68562697.0,A,70712123.0,...,130310922.0,A,137712399.0,A,139314580.0,A,131857866.0,A,138826202.0,A
47802,5817,Net Food Importing Developing Countries,1717,"Cereals,Total",5312,Area harvested,ha,68562697.0,A,70712123.0,...,130310922.0,A,137712399.0,A,139314580.0,A,131857866.0,A,138826202.0,A
47803,5817,Net Food Importing Developing Countries,1717,"Cereals,Total",5419,Yield,hg/ha,10489.0,Fc,10842.0,...,22207.0,Fc,22018.0,Fc,22393.0,Fc,23292.0,Fc,22259.0,Fc
47804,5817,Net Food Importing Developing Countries,1717,"Cereals,Total",5510,Production,tonnes,71916140.0,A,76666433.0,...,289378590.0,A,303209018.0,A,311968864.0,A,307124561.0,A,309010225.0,A
47805,5817,Net Food Importing Developing Countries,1804,"Citrus Fruit,Total",5312,Area harvested,ha,533639.0,A,606856.0,...,1203125.0,A,1231298.0,A,1206386.0,A,1253413.0,A,1301241.0,A
47806,5817,Net Food Importing Developing Countries,1804,"Citrus Fruit,Total",5419,Yield,hg/ha,51105.0,Fc,46655.0,...,125202.0,Fc,120940.0,Fc,131902.0,Fc,129452.0,Fc,128729.0,Fc
47807,5817,Net Food Importing Developing Countries,1804,"Citrus Fruit,Total",5510,Production,tonnes,2727165.0,A,2831303.0,...,15063314.0,A,14891280.0,A,15912498.0,A,16225725.0,A,16750788.0,A
47808,5817,Net Food Importing Developing Countries,1814,"Coarse Grain, Total",5312,Area harvested,ha,35038242.0,A,35873557.0,...,72870542.0,A,79746410.0,A,81229228.0,A,74368714.0,A,81695674.0,A
47809,5817,Net Food Importing Developing Countries,1814,"Coarse Grain, Total",5419,Yield,hg/ha,7839.0,Fc,8381.0,...,14026.0,Fc,13513.0,Fc,14070.0,Fc,14763.0,Fc,13942.0,Fc
47810,5817,Net Food Importing Developing Countries,1814,"Coarse Grain, Total",5510,Production,tonnes,27466658.0,A,30064724.0,...,102209429.0,A,107760641.0,A,114290289.0,A,109792059.0,A,113897496.0,A
47811,5817,Net Food Importing Developing Countries,1753,Fibre Crops Primary,5510,Production,tonnes,3138608.0,A,3340916.0,...,5342695.0,A,5239995.0,A,5541920.0,A,NaN,NaN,NaN,NaN
47812,5817,Net Food Importing Developing Countries,1841,"Oilcrops, Cake Equivalent",5510,Production,tonnes,3776689.0,A,4097794.0,...,12620716.0,A,14414595.0,A,15277823.0,A,NaN,NaN,NaN,NaN
47813,5817,Net Food Importing Developing Countries,1732,"Oilcrops, Oil Equivalent",5510,Production,tonnes,3150710.0,A,3277832.0,...,10580538.0,A,12155173.0,A,12541078.0,A,NaN,NaN,NaN,NaN
47814,5817,Net Food Importing Developing Countries,1726,"Pulses,Total",5312,Area harvested,ha,8990152.0,A,9187143.0,...,27251097.0,A,28239683.0,A,27611873.0,A,27391388.0,A,27622203.0,A
47815,5817,Net Food Importing Developing Countries,1726,"Pulses,Total",5419,Yield,hg/ha,5362.0,Fc,5777.0,...,7675.0,Fc,8118.0,Fc,8200.0,Fc,8629.0,Fc,8725.0,Fc
47816,5817,Net Food Importing Developing Countries,1726,"Pulses,Total",5510,Production,tonnes,4820251.0,A,5307252.0,...,20914411.0,A,22924387.0,A,22640673.0,A,23637324.0,A,24100057.0,A
47817,5817,Net Food Importing Developing Countries,1720,"Roots and Tubers,Total",5312,Area harvested,ha,6904216.0,A,7042677.0,...,17390416.0,A,18045158.0,A,17711793.0,A,18202029.0,A,18564830.0,A
47818,5817,Net Food Importing Developing Countries,1720,"Roots and Tubers,Total",5419,Yield,hg/ha,52152.0,Fc,52494.0,...,93709.0,Fc,94019.0,Fc,93454.0,Fc,93339.0,Fc,93118.0,Fc
47819,5817,Net Food Importing Developing Countries,1720,"Roots and Tubers,Total",5510,Production,tonnes,36006548.0,A,36969919.0,...,162964656.0,A,169658516.0,A,165523837.0,A,169896364.0,A,172871189.0,A
47820,5817,Net Food Importing Developing Countries,1729,"Treenuts,Total",5312,Area harvested,ha,417960.0,A,467430.0,...,3145694.0,A,3439929.0,A,3588109.0,A,3802731.0,A,3647331.0,A
47821,5817,Net Food Importing Developing Countries,1729,"Treenuts,Total",5419,Yield,hg/ha,6118.0,Fc,6318.0,...,5229.0,Fc,5073.0,Fc,5019.0,Fc,5201.0,Fc,5534.0,Fc
47822,5817,Net Food Importing Developing Countries,1729,"Treenuts,Total",5510,Production,tonnes,255724.0,A,295318.0,...,1644854.0,A,1745038.0,A,1800858.0,A,1977649.0,A,2018480.0,A
47823,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5312,Area harvested,ha,1877800.0,A,1925219.0,...,6432918.0,A,6509998.0,A,6731988.0,A,6808894.0,A,6959718.0,A
47824,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5419,Yield,hg/ha,66297.0,Fc,67612.0,...,116605.0,Fc,115702.0,Fc,116842.0,Fc,119414.0,Fc,118654.0,Fc
47825,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,tonnes,12449173.0,A,13016875.0,...,75011224.0,A,75322149.0,A,78657590.0,A,81307673.0,A,82579759.0,A

In [95]:
df_FAO_2 = pd.DataFrame(df_FAO['Area'], df_FAO['Unit'], df)
df_FAO_2

       Area
Unit
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
tonnes  NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
...     ...
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
tonnes  NaN
tonnes  NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN
ha      NaN
hg/ha   NaN
tonnes  NaN

[47826 rows x 1 columns]

In [83]:
df_FAO_2

         Unit
0          ha
1       hg/ha
2      tonnes
3          ha
4       hg/ha
5      tonnes
6          ha
7       hg/ha
8      tonnes
9          ha
10      hg/ha
11     tonnes
12         ha
13      hg/ha
14     tonnes
15         ha
16      hg/ha
17     tonnes
18     tonnes
19     tonnes
20         ha
21      hg/ha
22     tonnes
23         ha
24      hg/ha
25     tonnes
26         ha
27      hg/ha
28     tonnes
29         ha
...       ...
47796   hg/ha
47797  tonnes
47798      ha
47799   hg/ha
47800  tonnes
47801      ha
47802      ha
47803   hg/ha
47804  tonnes
47805      ha
47806   hg/ha
47807  tonnes
47808      ha
47809   hg/ha
47810  tonnes
47811  tonnes
47812  tonnes
47813  tonnes
47814      ha
47815   hg/ha
47816  tonnes
47817      ha
47818   hg/ha
47819  tonnes
47820      ha
47821   hg/ha
47822  tonnes
47823      ha
47824   hg/ha
47825  tonnes

[47826 rows x 1 columns]